{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container">
    <h1>Search for a Car</h1>

    <form id="searchform" action="/CarRental/CustomerTools/CarSearch/{{ customer.userID }}" method="get" accept-charset="utf-8">
      <table>
        {% for field in searchForm.visible_fields %}
        <tr>
          <th>{{ field.label_tag }}</th>
          <td>{{ field }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td><button class="searchbutton" type="submit"><span>Search</span></td>
        </tr>
        </table>
        <i class="fa fa-search"></i>
      </button>
    </form>
    {%  if cars %}
    <table>
        <tr>
            <th>Model ID</th>
            <th>Make</th>
            <th>Series</th>
            <th>Year</th>
            <th>Original Price</th>
            <th>Engine Size</th>
            <th>Fuel System</th>
            <th>Tank Capacity</th>
            <th>Power</th>
            <th>Seating Capacity</th>
            <th>Standard Transmission</th>
            <th>Body Type</th>
            <th>Drive</th>
            <th>WheelBase</th>
            <th>Store</th>
            <th>Rent?</th>

            <th></th>
        </tr>
        {% for car in cars %}
        <tr>
            <!-- <td><a href='customerTools/customer?id={{ customer.user_id }}'>{{ customer.name }}</a></td> -->
            <td><a href="Reporting/CarSummaryTool?modelID={{car.model.modelID}}">{{car.model.modelID}}</a></td>
            <td>{{ car.model.make }}</td>
            <td>{{ car.model.series }}</td>
            <td>{{ car.model.seriesYear }}</td>
            <td>${{ car.model.priceNew }}</td>
            <td>{{ car.model.engineSize }}</td>
            <td>{{ car.model.fuelSystem }}</td>
            <td>{{ car.model.tankCapacity }}</td>
            <td>{{ car.model.power }}</td>
            <td>{{ car.model.seatingCapacity }}</td>
            <td>{{ car.model.standardTransmission }}</td>
            <td>{{ car.model.bodyType }}</td>
            <td>{{ car.model.drive }}</td>
            <td>{{ car.model.wheelBase }}</td>
            <td>{{ car.store }}</td>
            <td>
                <form action="/CarRental/CustomerTools/CreateRental/{{ customer.userID }}" method='get'>
                    <input type="hidden" name="carID" value='{{car.carID}}'>
                    <input type="submit" value="Rent Car">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
