{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="container">
    <h1>{{models.modelID}}</h1><br><Br>
    <table>
        <tr>
            <th>Model</th>
            <td>{{models.make}}</td>
        </tr>
        <tr>
            <th>Series</th>
            <td>{{models.series}}</td>
        </tr>
        <tr>
            <th>Year</th>
            <td>{{models.seriesYear}}</td>
        </tr>
        <tr>
            <th>Price New</th>
            <td>{{models.priceNew}}</td>
        </tr>
        <tr>
            <th>Engine Size</th>
            <td>{{models.engineSize}}</td>
        </tr>
        <tr>
            <th>Fuel System</th>
            <td>{{models.fuelSystem}}</td>
        </tr>
        <tr>
            <th>Tank Capacity</th>
            <td>{{models.tankCapacity}}</td>
        </tr>
        <tr>
            <th>Power</th>
            <td>{{models.power}}</td>
        </tr>
        <tr>
            <th>Seating Capacity</th>
            <td>{{models.seatingCapacity}}</td>
        </tr>
        <tr>
            <th>Transmission</th>
            <td>{{models.standardTransmission}}</td>
        </tr>
        <tr>
            <th>Body Type</th>
            <td>{{models.bodyType}}</td>
        </tr>
        <tr>
            <th>Drive Type</th>
            <td>{{models.drive}}</td>
        </tr>
        <tr>
            <th>Wheel Base</th>
            <td>{{models.wheelBase}}</td>
        </tr>
        <tr>
            <th>Daily Rate</th>
            <td>{{models.dailyRate}}</td>
        </tr>
      </table>
<br>
<br>
</div>
{% endblock %}
