{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Register a New Car:</h1>
    <form id="car_register_form" method="post" action="/CarRental/CustomerTools/createCar/" enctype="multipart/form-data">
        {% csrf_token %}

        {{ register_form.as_p }}

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
