{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Create a customer profile</h1>
    <form id="register_form" method="post" action="/CarRental/CustomerTools/createCustomer/" enctype="multipart/form-data">
        {% csrf_token %}

        {{ register_form.as_p }}

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
