{% extends 'base.html' %}

{% block head %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Staff Portal - Customer Lookup</h1>

    <form id="searchform" action="/CarRental/CustomerTools/search" method="get" accept-charset="utf-8">

      Customer Name:<br><input class="searchfield" id="searchbox" name="q" type="text"><br>
      Customer Phone Number:<br><input class="searchfield" id="searchbox1" name="phone" type="text"><br>
      Customer License Number:<br><input class="searchfield" id="searchbox1" name="license" type="text"><br>
      <br><button class="searchbutton" type="submit"><span>Search</span></button>
    </form>

</div>
{% endblock %}
