{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container">
    <h1>Search for a Car</h1>
    <form id="searchform" action="/CarRental/home/" method="post" accept-charset="utf-8">
        {%csrf_token %}
      <table>     
        {% for field in customerSearchForm.visible_fields %}
        <tr>
          <th>{{ field.label_tag }}</th>
          <td>{{ field }}</td>
        </tr>
        {% endfor %}
        {% for field in customerSearchForm1.visible_fields %}
        <tr>
          <th>{{ field.label_tag }}</th>
          <td>{{ field }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td><button class="searchbutton" type="submit"><span>Search</span></td>
        </tr>
        </table>
        <i class="fa fa-search"></i>
      </button>
    </form>
    {%  if cars %}
    <table>
        <tr>
            <th>Vehicle Type</th>
            <th>Body Type</th>
            <th>Drive</th>
            <th>Transmission</th>
            <th>Seats</th>
            <th>Store</th>
            <th>Rate</th>
            <th></th>
        </tr>
        {% for car in cars %}
        <tr>
            <!-- <td><a href='customerTools/customer?id={{ customer.user_id }}'>{{ customer.name }}</a></td> -->
            <td>{{ car.model.make }} {{ car.model.modelName }} {{ car.model.series }} {{ car.model.seriesYear }}</td>
            <td>{{ car.model.bodyType }}</td>
            <td>{{ car.model.drive }}</td>
            <td>{{ car.model.standardTransmission }}</td>
            <td>{{ car.model.seatingCapacity }}</td>
            <td>{{ car.store }}</td>
            <td>${{ car.model.dailyRate }}/per day</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
