{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <h1></h1><br><Br>
    <table>
        <tr>
            <th>Rental Id</th>
            <td>{{pickup.rentalID}}</td>
        </tr>
        <tr>
            <th>Customer Name</th>
            <td>{{customer.name}}</td>
        </tr>
        <tr>
            <th>Customer Email</th>
            <td>{{customer.email}}</td>
        </tr>
        <tr>
            <th>Customer Phone</th>
            <td>{{customer.phone}}</td>
        </tr>
        <tr>
            <th>Customer Address</th>
            <td>{{customer.address}}</td>
        </tr>
        <tr>
            <th>Pickup Date</th>
            <td>{{pickup.pickupDate}}</td>
        </tr>
        <tr>
            <th>Pickup Store</th>
            <td>{{pickup.pickupStore}}</td>
        </tr>
        <tr>
            <th>Car Model</th>
            <td>{{car.model}}</td>
        </tr>
        <tr>
            <th>Car Status</th>
            <td>{{car.carStatus}}</td>
        </tr>
        <tr>
            <th>Return Date</th>
            <td>{{return.returnDate}}</td>
        </tr>
        <tr>
            <th>Return Store</th>
            <td>{{return.returnStore}}</td>
        </tr>
        <tr>
            <td>
                <form action="/CarRental/CustomerTools/UpdateCustomerInfo" method='get'>
                    <input type="hidden" name="id" value='{{customer.userID}}'>
                    <input type="submit" value="Update Customer Info" />
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/CarRental/CustomerTools/CarSearch/{{ customer.userID }}/" method ="POST">
                    {% csrf_token %}
                    <input type="submit" value="Create New Rental" />
                </form>
            </td>
        </tr>
    </table>
<br>
{% endblock %}
