{% extends 'base.html' %}

{% block head %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Customer Lookup Results</h1>

    <form id="searchform" action="/CarRental/CustomerTools/search" method="get" accept-charset="utf-8">
        {{ searchForm.as_p }}
        <button class="searchbutton" type="submit">
            <span>Search</span>
            <i class="fa fa-search"></i>
        </button>
    </form>
    {% if notFirstLoad %}
      <table>
          <tr>
              <th>Name</th>
              <th>Date of Birth</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Email</th>
              <th>Occupation</th>
              <th>Gender</th>
              <th>License</th>
          </tr>
          {% for customer in customerListData %}
          <tr>
              <td><a href='/CarRental/CustomerTools/customer?id={{customer.userID}}'>{{ customer.name }}</a></td>
              <td>{{ customer.dob }}</td>
              <td>{{ customer.phone }}</td>
              <td>{{ customer.address }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.occupation }}</td>
              <td>{{ customer.gender }}</td>
              <td>{{ customer.license }}</td>
          </tr>
          {% endfor %}

      </table>
      {% if noData %}
      <p>No customer found. Click <a href="/CarRental/CustomerTools/createCustomer">here</a> to create a new customer</p>
      {% endif %}
    {% endif %}
</div>
{% endblock %}
