{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>New customer added!</h1>
    <p>You have added a new customer. Click <a href="/customerTools">here</a> to be returned to the customer lookup.</p>
</div>
{% endblock %}
