{% extends 'base.html' %}
{% block head %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{customer.name}}</h1><br><Br>
    <table>
        <tr>
            <th>Phone Number</th>
            <td>{{customer.phone}}</td>
        </tr>
        <tr>
            <th>DOB</th>
            <td>{{customer.dob}}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{customer.address}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{customer.email}}</td>
        </tr>
        <tr>
            <th>Occupation</th>
            <td>{{customer.occupation}}</td>
        </tr>
        <tr>
            <td>
                <form action="/CarRental/CustomerTools/UpdateCustomerInfo" method='get'>
                    <input type="hidden" name="id" value='{{customer.userID}}'>
                    <input type="submit" value="Update Customer Info" />
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/CarRental/CustomerTools/CarSearch/{{ customer.userID }}/" method ="POST">
                    {% csrf_token %}
                    <input type="submit" value="Create New Rental" />
                </form>
            </td>
        </tr>
    </table>
    {% if activeRentals %}
    <h2>Active Rentals</h2>
    <table>
        <tr>
            <th>Rental ID</th>
            <th>Start Date</th>
            <th>Pickup Date</th>
            <th>Car</th>
            <th>Pickup Store</th>

        </tr>
        {% for rental in activeRentals %}
            <tr>
                <td>{{rental.rentalID}}</td>
                <td>{{rental.startDate}}</td>
                <td>{{rental.pickupDate}}</td>
                <td>{{rental.car}}</td>
                <td>{{rental.pickupStore.name}}</td>
                <td>
                    <form action="/CarRental/CustomerTools/ReturnCar" method='get'>
                        <input type="hidden" name="rentalID" value='{{rental.rentalID}}'>
                        <input type="submit" value="Return Car">
                    </form>
                <td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
<br>
<br>
    {% if manager %}
    {% if closedRentals %}
    <h2> Finished Rentals</h2>
    <table>
        <tr>
            <th>Rental ID</th>
            <th>Return Date</th>
            <th>Return Store</th>
            <th>Start Date</th>
            <th>Pickup Date</th>
            <th>Car</th>
            <th>Pickup Store</th>
        </tr>
        {% for rental in closedRentals %}
            <tr>
                <td>{{rental.rental.rentalID}}</td>
                <td>{{rental.returnDate}}</td>
                <td>{{rental.returnStore.name}}</td>
                <td>{{rental.rental.startDate}}</td>
                <td>{{rental.rental.pickupDate}}</td>
                <td>{{rental.rental.car}}</td>
                <td>{{rental.returnStore.name}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
