{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>New Vehicle Model added!</h1>
    <p>You have added a new model. Click <a href="/create-model">here</a> to be returned to add another Vehicle Model.</p>
    <p>Or Click <a href="/staffPortal">here</a> to assign vehicles to stores.</p>
</div>
{% endblock %}
