{% extends 'base.html' %}
{% block body %}
	<!-- Creates the content on the page -->
    <div class="MainWrapper">
		<div class="ContentContainer">
			<div class="ContentTitle">
				<h1 class=""> Staff Home Portal</h1>
			</div>
			<div id="StaffNavMain">
				<div class="StaffNavTitle">
				</div>
				{% if userIsManager %}
				<a class="button" href="{% url 'BranchPerformance' %}"> Individual Branch size Report</a>
				<br>
				<br>
				<br>
				<br>
				<a class="button" href="/CarRental/Reporting/VehiclePerformance"> Most Popular Vehicle Report</a>
				<br>
				<br>
				<br>
				<br>
				{% endif %}
				<a class="button" href="{% url 'customerSearch' %}"> Customer Details</a>
				{% if userIsManager or userIsMechanic %}
				<br>
				<br>
				<br>
				<br>
				<a class="button" href="{% url 'createModel' %}"> Create Model</a>
				<br>
				<br>
				<br>
				<br>
				<a class="button" href="{% url 'createCar' %}"> Create Car</a>
				{% endif %}
			</div>
        </div>
    </div>
{% endblock %}
