{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1>Store Information</h1><br><Br>
    <table>
        <tr>
            <th>Store Id</th>
            <td>{{store.storeID}}</td>
        </tr>
        <tr>
            <th>Store Name</th>
            <td>{{store.name}}</td>
        </tr>
        <tr>
            <th>Store Address</th>
            <td>{{store.address}}</td>
        </tr>
        <tr>
            <th>Store City</th>
            <td>{{store.city}}</td>
        </tr>
        <tr>
            <th>Store Phone</th>
            <td>{{store.phone}}</td>
        </tr>
    </table>
<br>
{% endblock %}
