{% extends 'base.html' %}
{% block head %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
{% endblock %}

{% block body %}
<div class='container'>
    <h1>Update Customer Information</h1>
    <form method="post" name="updateInfo">
        {% csrf_token %}
        <input type="hidden" name="userID" value='{{customer.userID}}'>
        Name: <input class="searchfield" id="searchbox" name="name" type="text" value="{{customer.name}}"><br>
        DOB: <input class="searchfield" id="searchbox" name="dob" type="text" value="{{customer.dob}}"><br>
        Phone: <input class="searchfield" id="searchbox" name="phone" type="text" value="{{customer.phone}}"><br>
        Address: <input class="searchfield" id="searchbox" name="address" type="text" value="{{customer.address}}"><br>
        Email: <input class="searchfield" id="searchbox" name="email" type="text" value="{{customer.email}}"><br>
        Occupation: <input class="searchfield" id="searchbox" name="occupation" type="text" value="{{customer.occupation}}"><br>
        Gender: <input class="searchfield" id="searchbox" name="gender" type="text" value="{{customer.gender}}"><br>
        License: <input class="searchfield" id="searchbox" name="license" type="text" value="{{customer.license}}"><br>

        <button class="searchbutton" type="submit"><span>Update</span>
    </form>
</div>
{% endblock %}
