{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>Login</h1>
  <form id="user_form" method="post" action="{% url 'login' %}" enctype="multipart/form-data">
    <table>   
    {% csrf_token %}
       {% for field in loginForm.visible_fields %}
       <tr>
         <th>{{ field.label_tag }}</th>
         <td>{{ field }}</td>
       </tr>
       {% endfor %}       <!-- Provide a button to click to submit the form. -->
       {% if logInFailed %}
       <tr>
        <td>
          <p color = 'red'>{{ logInError}} </p>
        </td>
      </tr>       
      {% endif %}
       <tr>
        <td>
         <input type="submit" name="submit" value="Login" />
        </td>
      </tr>
      </table>  </form>
</div>
{% endblock %}
