{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Registration complete!</h1>
    <p>Thanks for registering! You can log into your account <a href="/CarRental/login">here</a>.</p>
</div>
{% endblock %}
