{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Register</h1>
    <form id="register_form" method="post" action="/CarRental/register/" enctype="multipart/form-data">
        {% csrf_token %}

        {{ registerForm.as_p }}

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
