{% extends 'base.html' %}

{% block head %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#searchform {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  margin-left: 2.5%;
}

p {
     font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
     margin-left: 2.5%;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Vehicle Search</h1>

    <form id="searchform" action="/CarRental/CustomerTools/inspectionReport" method="get" accept-charset="utf-8">
        {{ searchForm.as_p }}
        <button class="searchbutton" type="submit">
            <span>Search</span>
            <i class="fa fa-search"></i>
        </button>
    </form>
    {% if notFirstLoad %}
    <!-- <br>
    <h2>Inspection Report Form</h2>
    <br>

    {% for model in carModel %}
    <p>Please confirm the details for car {{car.carID }} below before submitting the inspection report:</p>

    <p>Car Model: {{ model.modelName }}</p>
    <p>Car Series: {{ model.series }}</p>
    <p>Series Year: {{ model.seriesYear }}</p>
    {% endfor %} -->


    {% if not noData %}
    <h2>Inspection Report Form</h2>
    {% for model in modelList %}
    <p>Please confirm the details for car {% for car in carList %} {{car.carID }} {% endfor %} below before submitting the inspection report:</p>

    <p>Car Model: {{ model.modelName }}</p>
    <p>Car Series: {{ model.series }}</p>
    <p>Series Year: {{ model.seriesYear }}</p>

    <form id="inspection_form" method="post" action="/CarRental/CustomerTools/inspectionReport" enctype="multipart/form-data">
        {% csrf_token %}

        {{ inspectionForm.as_p }}
        <input type="hidden" id="carID" name="carID" value="{% for car in carList %}{{car.carID }}{% endfor %}">
        <input type="hidden" id="rentalID" name="rentalID" value="{{ rentalID }}">

        <button type="submit">Submit</button>
    </form>
    {% endfor %}
      <!-- <table>
          <tr>
              <th>Car Number</th>
              <th>Status</th>
              <th>Model</th>
              <th>Series</th>
              <th>Year</th>

          </tr>

          {% for car in carList %}
          <tr>
              <td>{{ car.carID }}</td>
              <td>{{ car.carStatus }}</td>

              {% for model in modelList %}

              <td>{{ model.modelName }}</td>
              <td>{{ model.series }}</td>
              <td>{{ model.seriesYear }}</td>
              <td>
                  <form action="/CarRental/CustomerTools/inspectionReport/submit/{{car.carID}}" method='get'>
                      <input type="hidden" name="carID" value='{{car.carID}}'>
                      <input type="submit" value="Submit inspection">
                  </form>
              </td>

              {% endfor %}

          </tr>
          {% endfor %}

      </table> -->
      {% else %}
        <p>The car number entered does not exist or the selected car is not awaiting an inspection.</p>
      {% endif %}
    {% endif %}
</div>
{% endblock %}
