{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Inspection Submitted</h1>
    <p>The inspection has been submitted. Click <a href="/CarRental/CustomerTools/inspectionReport">here</a> to return to the mechanic portal.</p>
</div>
{% endblock %}
