{% extends 'base.html' %}

{% block body %}
<div class="container">
    <br><br>

    {% if not noInspection %}
      <h1>Inspection Report - Rental {{rentals.rentalID}} - {{inspectionReport.dateCompleted}}</h1>
      <p>Car ID: {{rentals.car_id}}</p>
      <p>Inspected By:{{inspectionReport.mechanic_id}}</p>
      <p>Comment: {{inspectionReport.comments}}</p>
    {% else %}
      <p>There is currently no inspection report submitted for this rental. Please return to the previous page.</p>
    {% endif %}
</div>
{% endblock %}
