.Body{
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
h1, h2, h4 {
     font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
     margin-left: 2.5%;
}
.MainWrapper{
    position: fixed;
    width: calc(100% - 20px);
    height: 100%;
    background-color: rgb(237,237,237);
    z-index: -1;
}
body{
    background-color: rgb(237,237,237);
}
.NavBar{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: lightgray;
    z-index: 1;
}
.NavBar img{
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
    z-index: 1;
}
.NavBar h1{
    text-align: center;
    margin-top: -75px;
}
.NavBar form{
    position: absolute;
    top: 40px;
    right: 20px;
}
#NavPane{
    position: absolute;
    left: calc(50% - 250px);

    background-color: yellow;
    height: 40px;
    width: 500px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
}
#NavPane h1{
    margin-top: 0px;
    font-size: 30px;
}
#NavPane a{
    text-decoration: none;
    border-color: black;
    color: black;
    border-style: solid;
    border-width: thin;
    background-color: rgb(248,240,80);
    display: inline-block;
    padding: 10px;
}
#LogOut{
    position: absolute;
    float: right;
    margin-top: 1%;
    right: 3%;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px;
    background-color: rgb(248,240,80);
}

.ContentContainer{
    position: relative;
    height: 70%;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 5%;
    border-style: solid;
    border-color: black;
}
.ContentTitle{
    position: relative;
    border-style: solid;
    border-color: black;
    border-left: none;
    border-top: none;
    margin-top: -21px;
    width: 300px;
    height: 40px;
    background-color: rgb(248,240,80);
    text-align: center;
}
.CustomerNavTitle{
    position: relative;
    left: calc(50% - 100px);
    border-style: solid;
    border-color: black;
    border-width: thin;
    width: 200px;
    height: 20px;
    background-color: lightgray;
    color: black;
    text-align: center;
}
#CustomerNavMain{
    position: relative;
    float: right;
    right: 1%;
    top: 1%;
    width: 60%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
}


.button {
position: relative;
    float: left;
    width: 200px;
    text-align: center;
    left: calc(50% - 120px);
  font-size: 1em;
  padding: 10px;
    margin: 10px;
  color: black;
  background-color: rgb(248,240,80);;
  border: 2px solid black;
  border-radius: 20px/50px;
  text-decoration: none;

  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background-color: darkgray;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
position: relative;
  top: 25%;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: rgb(248,240,80);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}


#CarImage {
    float: left;
    width: 30%;
    margin-top: 5%;
}

.CarTable {
    float: right;
    margin-right: 5%;
    margin-top: 5%;
}

#CustomerNavSearch {

    position: relative;
    float: left;
    left: 1%;
    top: 1%;
    width: 30%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
}

#RentMe {
    position: absolute;
    float: right;
    margin-top: 1%;
    right: 3%;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px;
    background-color: rgb(248,240,80);
}


.dropbtn {
    float: right;
    margin-left: 1%;
    color: black;
    font-size: 16px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: lightgray}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightgray;
}

.dropdown {
    position: relative;
    margin: 1%;
    margin-top: 10%;
    display: block;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
