<table>
    <tr>
        <th>Rental ID</th>
        <th>Pickup Date</th>
        <th>Car</th>
        <th>Pickup Store</th>
        
    </tr>
        {% for rental in activeRentals %}
            <tr>
                <td><a href="{% url 'RentalStatusPage'%}?id={{rental.rentalID}}">{{rental.rentalID}}</a></td>                <td>{{rental.pickupDate}}</td>
                <td>{{rental.make}} {{rental.modelName}} {{rental.series}}</td>
                <td>{{rental.pickupStore}}</td>
                <td>
                    <button id='returnRental' type="button" rentalID='{{rental.rentalID}}' returnURL="{% url 'ReturnCar' %}">Return Car</button>
                    <script src = '/static/javascript/customerPage/ajaxFunctions.js'></script>
                </td>
            </tr>
        {% endfor %}
</table>


