{% if isManager%}
    <h2> Finished Rentals</h2>
    <table>
        <tr>
            <th>Rental ID</th>
            <th>Return Date</th>
            <th>Return Store</th>
            <th>Start Date</th>
            <th>Pickup Date</th>
            <th>Car</th>
            <th>Pickup Store</th>
        </tr>
        {% for rental in closedRentals %}
            <tr>
                <td><a href="{% url 'RentalStatusPage'%}?id={{rental.rentalID}}">{{rental.rentalID}}</a></td>                <td>{{rental.pickupDate}}</td>
                <td>{{rental.returnDate}}</td>
                <td><a href ="{% url 'StoreInformation' %}?storeID={{rental.pickupStore}}">{{rental.pickupStore}}</a></td>
                <td>{{rental.startDate}}</td>
                <td>{{rental.pickupDate}}</td>
                <td>{{rental.car}}</td>
                <td><a href="{% url 'StoreInformation' %}?storeID={{rental.pickupStore}}">{{rental.returnStore}}</a></td>
                <td>
                  <form action="/CarRental/CustomerTools/customerInspectionReport" method='get'>
                      <input type="hidden" name="rentalId" value='{{rental.rentalID}}'>
                      <input type="hidden" name="customerId" value='{{customer.name}'>
                      <input type="submit" value="View Inspection Report" />
                  </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{%endif%}
