{% extends 'base.html' %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<div class="container">
    <h1>{{customer.name}}</h1><br><Br>
    <table>
        <tr>
            <th>ID</th>
            <td id="userID" userID={{customer.userID}}>{{customer.userID}}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{customer.phone}}</td>
        </tr>
        <tr>
            <th>DOB</th>
            <td>{{customer.dob}}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{customer.address}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{customer.email}}</td>
        </tr>
        <tr>
            <th>Occupation</th>
            <td>{{customer.occupation}}</td>
        </tr>
        <tr>
            <td>
                <form action="/CarRental/CustomerTools/UpdateCustomerInfo" method='get'>
                    <input type="hidden" name="id" value='{{customer.userID}}'>
                    <input type="submit" value="Update Customer Info" />
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/CarRental/CustomerTools/CarSearch/{{ customer.userID }}/" method ="POST">
                    {% csrf_token %}
                    <input type="submit" value="Create New Rental" />
                </form>
            </td>
        </tr>
    </table>
    <div id='pickups'>
        <h2>Active Rentals</h2>
        <select id = 'pickupStorePickup'>
            <option value="">-------------------</option>
                {% for store in stores %}
            <option value='{{store.storeID}}'>{{ store.name }}</option>
                    {% endfor %}
        </select>
        <input type="date" id='pickupDatePickup'>
        <div id = 'activeRentalsTable' searchURL = "{% url 'ActiveRentalsTable' %}"></div>
    </div>
<br>
<br>
    <div id='returns'>
        Pickup Store:
        <select id='pickupStoreReturn'>
            <option value="">-------------------</option>
            {% for store in stores %}
                <option value='{{store.storeID}}'>{{ store.name }}</option>
            {% endfor %}
        </select>
        <br><br>
        Pickup Date:
        <input type="date" id='pickupDateReturn'>
        <div id='closedRentalsTable' searchURL = "{% url 'ClosedRentalsTable' %}">
        </div>
    </div>
    <script src = '/static/javascript/customerPage/ajaxFunctions.js'></script>
</div>
{% endblock %}
