<h1> Statistics</h1>
<h2> Store Summary</h2>
<table id = "summaryTable">
    <tr>
        <td>
            Total Customers:
        </td>
        <td>
            {{ totalCustomers }}
        </td>
    </tr>
    <tr>
        <td>
            Active Customers:
        </td>
        <td>
            {{ totalActiveCustomers }}
        </td>        
    </tr>
    <tr>
        <td>
            Available Vehicles:
        </td>
        <td>
            {{ totalVehicles }}
        </td>
    </tr>
    <tr>
        <td>
            Total Vehicles Rented From Store:
        </td>  
        <td>
            {{ totalRentals }}
        </td> 
    </tr>
    <tr>
        <td>
            Total Vehicles Returned to Store:
        </td>  
        <td>
            {{ totalReturnedRentals }}
        </td> 
    </tr>
    <tr>
        <td>
            First Rental Date:
        </td>  
        <td>
            {{ firstRental }}
        </td> 
    </tr>
    <tr>
        <td>
            Most Recent Rental Date:
        </td>  
        <td>
            {{ recentRental }}
        </td> 
    </tr>
    <tr>
        <td>
            Total Profit for Period:
        </td>
        <td>
            {{ profit }}
        </td>
    </tr>
</table>

<h2> State Summary</h2>
<table id = "summaryTable">
    <tr>
        <td>
            Total Stores:
        </td>
        <td>
            {{ totalStateStores }}
        </td>        
    </tr>
    <tr>
        <td>
            Average Customers per Store:
        </td>
        <td>
            {{ averageStateCustomers }}
        </td>        
    </tr>
    <tr>
        <td>
            Average Rentals per Store:
        </td>  
        <td>
            {{ totalAverageStateRentals }}
        </td> 
    </tr>
    <tr>
        <td>
            Average Vehicles per Store:
        </td>
        <td>
            {{ averageStateVehicles }}
        </td>
    </tr>
    <tr>
        <td>
            Average Profit:
        </td>
        <td>
            {{ averageStateProfit }}
        </td>
    </tr>
    <tr>
        <td>
            Total Active Customers:
        </td>
        <td>
            {{ totalActiveStateCustomers }}
        </td>        
    </tr>
    <tr>
        <td>
            Total Rentals:
        </td>  
        <td>
            {{ totalStateRentals }}
        </td> 
    </tr>
    <tr>
        <td>
            Total Vehicles:
        </td>
        <td>
            {{ totalStateVehicles }}
        </td>
    </tr>
    <tr>
        <td>
            Total Profit:
        </td>
        <td>
            {{ totalStateProfit }}
        </td>
    </tr>
</table>

<h2> National Summary</h2>
<table id = "summaryTable">
    <tr>
        <td>
            Total Stores:
        </td>
        <td>
            {{ totalStores }}
        </td>        
    </tr>
    <tr>
        <td>
            Average Customers per Store:
        </td>
        <td>
            {{ averageNationalCustomers }}
        </td>        
    </tr>
    <tr>
        <td>
            Average Rentals per Store:
        </td>  
        <td>
            {{ totalAverageNationalRentals }}
        </td> 
    </tr>
    <tr>
        <td>
            Average Vehicles per Store:
        </td>
        <td>
            {{ averageNationalVehicles }}
        </td>
    </tr>
    <tr>
        <td>
            Average Profit:
        </td>
        <td>
            {{ averageNationalProfit }}
        </td>
    </tr>
    <tr>
        <td>
            Total Active Customers:
        </td>
        <td>
            {{ totalActiveNationalCustomers }}
        </td>        
    </tr>
    <tr>
        <td>
            Total Rentals:
        </td>  
        <td>
            {{ totalNationalRentals }}
        </td> 
    </tr>
    <tr>
        <td>
            Total Vehicles:
        </td>
        <td>
            {{ totalNationalVehicles }}
        </td>
    </tr>
    <tr>
        <td>
            Total Profit:
        </td>
        <td>
            {{ totalNationalProfit }}
        </td>
    </tr>
</table>