{% extends 'base.html' %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<div class="ContentContainer">
    <div name="summarySearch" id="customerSummarySearch" customerSummaryTableURL= "{% url 'AjaxCustomerSummaryTable' %}" novalidate>
        <h4>Select a store:
        <select id='store' name='storeDropdown' >
            <option value="">Select a Store:</option>
            {% for store in stores %}
                <option value="{{ store.storeID }}">{{ store.name }}</option>
            {% endfor %}
        </select>
        </h4>
        <h4>Select a time period:
        <select id='timePeriodSelect'>
            <option value="">Total</option>
            <option value="7">Past Week</option>
            <option value="30">Past Month</option>
            <option value="90">Past Quater</option>
            <option value="180">Past Six Months</option>
            <option value="365">Past Year</option>
        </select>
        </h4>
    </div>
    <div name="customerSummaryTable" id="customerSummaryTable">
    </div>
    </div>
    <script src = '/static/javascript/branchPerformance/ajaxFunctions.js'></script>
</div>
{% endblock %}