{% extends 'base.html' %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<div class="ContentContainer">
    <div name="summarySearch" id="summarySearch" summaryTableURL= "{% url 'AjaxSummaryTable' %}" novalidate>
        <h4>Select a store:
        <select id='store' name='storeDropdown' >
            <option value="">---------</option>
            {% for store in stores %}
                <option value="{{ store.storeID }}">{{ store.name }}</option>
            {% endfor %}
        </select>
        </h4>
        <h4>Select a time period:
        <select id='timePeriodSelect'>
            <option value="">Total</option>
            <option value="7">Past Week</option>
            <option value="30">Past Month</option>
        </select>
        </h4>
    </div>
    <div name="summaryTable" id="summaryTable">
    </div>
    <div name="rentalSearch" id="rentalSearch" style="visibility: hidden">
        <h1>Refine Results</h1>
        <div id='searchForm'>
            <table>
                <tr>
                    <td>
                        <select id='makeDropdown'>
                            {% include 'BranchPerformanceTool/makeData.html' %}
                        </select>
                    </td>
                    <td>
                        <select name='modelNameDropdown' id='modelNameDropdown' update_url = "{% url 'AjaxModelNameUpdate' %}">
                            {% include 'BranchPerformanceTool/modelNameData.html' %}
                        </select>
                    </td>
                    <td>
                        <select name='seriesDropdown' id='seriesDropdown' update_url = "{% url 'AjaxSeriesUpdate' %}">
                            {% include 'BranchPerformanceTool/seriesData.html' %}
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <table id='results' search_url="{% url 'AjaxSearch' %}">
        </table>
    </div>
    <script src = '/static/javascript/vehiclePerformance/ajaxFunctions.js'></script>
</div>
{% endblock %}