<tr>
    <th>Rank</th>
    <th>Model ID</th>
    <th>Make</th>
    <th>Name</th>
    <th>Series</th>
    <th>Year</th>
    <th>Total Rentals</th>
    <th>Number Owned</th>
    <th>Average Rentals Per Car</th>
</tr>
{% for result in results %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ result.modelID }}</td>
        <td>{{ result.make }}</td>
        <td>{{ result.modelName }}</td>
        <td>{{ result.series }}</td>
        <td>{{ result.seriesYear }}</td>
        <td>{{ result.rentedTotal }}</td>
        <td>{{ result.numberOwned }}</td>
        <td>{{ result.averageRented }}</td>

    </tr>
{% endfor %}