<h2> Summary Table</h2>
<table id = "summaryTable">
    <tr>
        <th>Type</th>
        <th>QTY</th>
    </tr>
    <tr>
        <td>
            Total cars hired
        </td>
        <td>
            {{ totalHires }}
        </td>
    </tr>
    <tr>
        <td>
            Most Popular Vehicle
        </td>
        <td>
            {{ popularModel }}
        </td>
    </tr>
    <tr>
        <td>
            Most Popular Bodytype
        </td>
        <td>
            {{  popularBodytype}}
        </td>        
    </tr>
    <tr>
        <td>
            Most Popular Transmission
        </td>  
        <td>
            {{ popularTransmission }}
        </td> 
    </tr>
</table>