{% extends 'base.html' %}

{% block body %}
        <div class="ContentContainer">
        <div class="ContentTitle">
            <h1>About Us</h1>
        </div>
        <div> 
          <h2 class="">Mary Smith – “CRC went above and beyond to cater to my needs. I would highly recommend them to anyone looking to hire a car for a short, or even long, period” <br><br>&#9733;&#9733;&#9733;&#9733;&#9733;<br><br><br> Mark Ryan – “I would tell anyone to hire with CRC. Their customer service when I crashed one of their hire cars was phenomenal"<br><br>&#9733;&#9733;&#9733;&#9733;&#9733;<br><br><br>Tim Jones - "CRC gave me the best deal and were so helpful with the hiring process. Only downfall was a slightly unclean car interior”<br><br>&#9733;&#9733;&#9733;&#9733;<br><br>       </h2>
        </div>
                    
        </div>
    
    </div>
{% endblock %}