<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title  -->
    <title>CRC | Car Rental Company</title>

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static "css/Main.css" %}">


    {% block head %}

    {% endblock %}
  </head>
  <body>
    <div class="NavBar">
          <img src="{% static "images/Logo.png" %}">
          <h1> "A Rental Company for the real world"</h1>
      </div>
      <div id="NavPane">
          <a href="/CarRental/home">Home</a>
          {% if userIsStaff %}
          <a href="/CarRental/CustomerTools/StaffPortal">Staff Portal</a>
          {% endif %}
          {% if userIsMechanic %}
          <a href="/CarRental/CustomerTools/inspectionReport">Mechanic Portal</a>
          {% endif %}
          {% if loggedIn %}
          <a href="/CarRental/logout">Logout</a>
          {% else %}
          <a href="/CarRental/login">Login</a>
          {%  endif %}
          <a href="/CarRental/about">About</a>
      </div>
      {% if not loggedIn %}
      <a id="LogOut" href="/CarRental/register">Create an account</a>
      {% endif %}
      <!-- <button id= "LogOut" type="button">Create an Account</button> -->



    </div>
      {% block body %}

      {% endblock %}
  </body>
</html>
