{% extends 'base.html' %}

{% block body %}
        <div class="ContentContainer">
        <div class="ContentTitle">
            <h1 class=""> Find a Vehicle</h1>
        </div>

        <div id="CustomerNavSearch">
            <div class="dropdown" style="margin-top: 0 !important;">
                <br> Select a Branch Location<button class="dropbtn">Dropdown&darr;</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
            <div class="dropdown">
                <br> Select a Branch Location<button class="dropbtn">Dropdown&darr;</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
            <div class="dropdown">
                <br> Select a Branch Location<button class="dropbtn">Dropdown&darr;</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
            <div class="dropdown">
                <br> Select a Branch Location<button class="dropbtn">Dropdown&darr;</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>

            <table>
                  <tr>
                    <th>Year</th>
                    <th>Model</th>
                    <th>Price/Day</th>
                    <th>Seats</th>
                  </tr>
                <tr>
                    <td>2001</td>
                    <td>BMW</td>
                    <td>$80</td>
                    <td>5</td>
                  </tr>
                <tr>
                    <td>2001</td>
                    <td>BMW</td>
                    <td>$80</td>
                    <td>5</td>
                  </tr>
                <tr>
                    <td>2001</td>
                    <td>BMW</td>
                    <td>$80</td>
                    <td>5</td>
                  </tr>
                </table>
            <button id= "RentMe" type="button">Search</button>
            </div>
        <div id="CustomerNavMain">
            <div class="CustomerNavTitle">
                Car Name
            </div>
            <img id="CarImage" src="Images/TEST.jpg">
            <div class="CarTable">
                <table>
                  <tr>
                    <th>Car Make</th>
                    <td>BMW ETC</td>
                  </tr>
                  <tr>
                    <th>Car Model</th>
                    <td>Car_Model</td>
                  </tr>
                  <tr>
                    <th>Car Series</th>
                    <td>Car_Series</td>
                  </tr>
                  <tr>
                    <th>Car Year</th>
                    <td>Car_Year</td>
                  </tr>
                  <tr>
                    <th>Car Engine Size</th>
                    <td>Car_Engine_Size</td>
                  </tr>
                  <tr>
                    <th>Car Fuel system </th>
                    <td>Car_Fuel_System</td>
                  </tr>
                  <tr>
                    <th>Car Tank Capacity</th>
                    <td>Car_Tank_Capacity</td>
                  </tr>
                  <tr>
                    <th>Car Seating Capacity</th>
                    <td>Car_Seating_Capacity</td>
                  </tr>
                  <tr>
                    <th>Car Standard Transmission</th>
                    <td>Car_Transmission</td>
                  </tr>
                  <tr>
                    <th>Car Body Type</th>
                    <td>Car_Body_Type</td>
                  </tr>
                  <tr>
                    <th>Daily Cost</th>
                    <td>Daily_Cost</td>
                  </tr>
                </table>
                <button id= "RentMe" type="button">Rent Me</button>
            </div>
        </div>





        </div>

    </div>
</body>
{% endblock %}
